	/* Discord themed portfolio - colour codes 
	
	--text-normal: #dcddde;
	--text-muted: #72767d; (offline)
	
	--Background colour: #202225
	
	--Discord Green: #3ba55d
	
	*/


	body {
	padding-left: 12em;
	padding-right: 15em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #dcddde; /* Body Text color */
	background-color: #202225 /* Background colour of entire page */
	}
    
	ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 10em
    }
    
	h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
    }
    
    ul.navbar li {
    background: #2f3136;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #FFF; /* Colour for random square next to navigation bars */
    }
    
    ul.navbar a {
    text-decoration: none;
    }
    
    a:link {
    color: #fff
    }
    
    a:visited {
    color: #fff
    }
        
    
/* Stylesheet */